<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
<app-navigation></app-navigation>
<router-outlet></router-outlet>
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>

       
        <!--Copyright-->
        <div class="footer-copyright py-3 text-center">
            <app-external-service></app-external-service>
            <br>
            <br>
            © 2021 Copyright
        </div>
        <!--Copyright-->
    </div>
</div>
